<link rel="import" href="../polymer/polymer.html">
<link href="../google-maps/google-map-search.html" rel="import">
<link href="../google-maps/google-map.html" rel="import">

<polymer-element name="dh-google-map-search" attributes="query result map">
    <script>
        Polymer('dh-google-map-search', {
            map: null,
            query: [],
            _fallback: ['0,0'],
            observe: {
                query: 'search',
                map: 'search'
            },
            created: function() {
                this.query = [];
            },
            search: function() {
                if (this.query.constructor != Array) {
                    this.query = [this.query];
                    return;
                }

                if (this.query.length == 0) {
                    this.query = this._fallback;
                    return;
                }

                if (this.query && this.map) {
                    var places = new google.maps.places.PlacesService(this.map);
                    places.textSearch({query: this.query[0]}, this.gotResults.bind(this));
                }
            },
            gotResults: function(results, status) {
                if (status == 'ZERO_RESULTS') {
                    this.query.shift();
                } else {
                    this.result = {
                        latitude: results[0].geometry.location.lat(),
                        longitude: results[0].geometry.location.lng(),
                        show: true,
                        query: this.query[0]
                    };
                    this.fire('google-map-search-result', this.result);
                }
            }
        });
    </script>
</polymer-element>

<polymer-element name="dh-google-map" attributes="query draggable tooltip autoTooltip">
    <template>
        <style>
            #map {
                width: 100%;
                height: 100%;
                display: block;
                left: 0;
                top: 0;
            }
        </style>
        <dh-google-map-search map="{{map}}" query="{{query}}" result="{{result}}" id="search"></dh-google-map-search>
        <google-map map="{{map}}" latitude="{{result.latitude}}" longitude="{{result.longitude}}" zoom="15" id="map">
            <google-map-marker title="{{result.query}}" latitude="{{markerLatitude}}" id="marker" draggable="{{draggable}}">
            </google-map-marker>
        </google-map>
    </template>

    <script>
        Polymer({
            draggable: false,
            autoTooltip: false,
            tooltip: null,
            created: function() {
                this.query = [];
            },
            ready: function () {

            },
            resultChanged: function() {
                this.$.marker.latitude = this.$.search.result.latitude;
                this.$.marker.longitude = this.$.search.result.longitude;

                if (this.tooltip) {
                    this.$.marker.info.content = this.tooltip;
                } else if (this.autoTooltip) {
                    this.$.marker.info.content = this.$.search.result.query;
                }

                if (this.$.marker.info.content.trim()) {
                    this.$.marker.info.open(this.$.map.map, this.$.marker.marker);
                    this.$.map.fitToMarkers = true;
                }
            },
            getCoordinates: function() {
                return {
                    latitude: this.$.marker.latitude,
                    longitude: this.$.marker.longitude
                }
            },
            markerLatitudeChanged: function() {
                this.fire(
                        'marker-moved',
                        {
                            latitude: this.$.marker.latitude,
                            longitude: this.$.marker.longitude
                        }
                );
            }
        });
    </script>
</polymer-element>
